body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #ff7f50cd;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 500px;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 31.25px);
  grid-template-rows: repeat(16, 31.25px);
  border: 2px solid #272727;
  background-color: beige;
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.3);
}

.container div {
  box-sizing: border-box;
}

h1 {
  background-color: #f87a4ccd;
  padding: 20px;
  color: rgb(62, 55, 47);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0;
  font-weight: 900;
}
.buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 12px;
  margin-right: 5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.adjust-btn {
  background-color: darkslategray;
  color: white;
}

.adjust-btn:hover {
  background-color: #2f4f4fcc;
}

.clear-btn:active {
  box-shadow: none;
  margin-left: 1px;
}

.inputs {
  width: 117px;
  border-radius: 2px;
  background-color: #f87a4ccd;
  display: flex;
  margin-bottom: 12px;
  font-weight: 700;
}
